<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/customer-info">Customer Info</a>
        <a class="list-group-item list-group-item-action" href="/vehicle-info">Owned Vehicles</a>
        <a class="list-group-item list-group-item-action" href="/transactions">Past Transactions</a>
    </div>
</body>
</html>